@tailwind base;
@tailwind components;
@tailwind utilities;

/* We need to override browser defaults so the app takes up the full screen */
body {
  background-color: #111827; /* Matches the app's dark theme */
  color: white;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}